.footer{
    margin-top: 40px;
    padding: 20px 20px 20px 170px;
    background-color: var(--secondary-color);
    color: white;
    display: flex;

}






@media (max-width: 894px) {
    .footer{
        padding: 40px;
        text-align: center;
   
    }
    
   
}
@media (max-width: 768px) {
    
    .footer{

        padding: 60px;
        text-align: center;
    }
}
@media(max-width:681px){
    .footer{
        flex-direction: column;justify-content: space-between;
        padding: 20px 20px 20px 20px;
    }
    .footer span{
        margin-top: 60px
    }
}
 



    
