.videoContainer {
    position: relative;
    max-width: 100%;
    min-height: 100vh; 
    background-image: url('/assets/images/contact-bg.jpg');
    margin-top: 240px;
}

.backgroundImage {
    max-width: 100%;
    height: 100%; 
    object-fit: cover;
    z-index: 1; 
    margin: 0 auto;
}

.title {
    position: absolute;
    top: 20%;
    
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    text-align: center;
    color: #fff; 
    z-index: 20; 
}

.subtitle {
    font-size: 16px;
    color: var(--sections-color);
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    position: relative;
}



.titleText {
    font-size: 32px; 
    font-weight: bolder;
    margin: 10px 0 0; 
}

.frameImage {
    position: absolute;
    top: 180%;
    left: -80%;
   
    height: auto;
    border: 2px solid rgba(255, 255, 255, 0.6); 
    border-radius: 8px; 
    z-index: 5;
    max-width: 800px;
    
  }
  .contactForm{
    position: absolute;
    top: 180%; 
    left: 340px;
    height: auto;
    z-index: 5; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1); /* إضافة ظل مناسب */

    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(151, 148, 148);
    padding: 40px;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    text-align: start;
  }
  .formGroup input{
    margin-top: 10px;
    border-radius:  15px ;
    outline: none;
    border: none;
    text-align: start;
    padding: 15px 50px 15px 10px;
    background-color: #f6f6f6;
  }
  .textareaField {
    width: 100%;
    padding: 12px; 
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #f7f7f7; 
    min-height: 100px; 
    resize: vertical; 
    outline: none;
  }
  
 

  .contactDetails {
    margin-top: 150px;
    margin-right: auto;
    margin-bottom: auto;
    padding: 20px; 
    background-color: #f5f5f5; 
    display: inline-flex;
    border-radius: 8px;
    align-items: center; 
    gap: 10px; 

}
.one{
    margin-left: 140px;
}

.two{
    margin-left: 40px;
}


@media (max-width: 1104px) {
    .title {
        top: 15%;
    }
    .frameImage {
        min-height: auto;
        top: 440%;
        left: 5%; 
        max-width:500px; 
        max-width: 100%;
    }
    .contactForm {
      
        top: 1220%; 
        left: 10%; 
        padding: 40px;
        max-width: 90%; 
    }
    .parentDetails{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px; 
    }
    .parentDetails{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px; 
        margin-left: 10px;
    }
    .contactDetails {
      margin-top: 220px;
        padding: 20px 80px; 
        background-color: #f5f5f5; 
  
        border-radius: 8px;
        align-items: center; 
    
        gap: 10px; 
    }
    .contactForm  .formGroup input {
     
        min-width: 80%;
    }
   
}


@media (max-width: 992px) {
    .title {
        top:25%;
        font-size: 16px;
    }
    .frameImage {
        min-height: auto;
        top: 400%; 
        left: 5%;
        max-width:500px;
        max-width: 100%;
    }

  
    .parentDetails{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px; 
        margin-top: 70px;
    }
    .contactForm {
        top: 1240%;
        left: 10%; 
        padding: 40px; 
        max-width: 90%; 
    
    }
    .parentDetails{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px; 
        margin-left: -30px;
    }
    .contactDetails {
      margin-top: 220px;
        padding: 20px 80px; 
        background-color: #f5f5f5; 
  
        border-radius: 8px;
        align-items: center; 
        
        gap: 10px; 
    }
    .contactForm  .formGroup input {
     
        min-width: 80%;
    }
}


@media (max-width: 894px) {
    .videoContainer {
        height: auto;
        padding-top: 10%; 
    }
    .title {
        top: 30%;
        font-size: 16px;
    }
    .frameImage {
        min-height: auto;
        top: 270%; 
        left: 5%;
        max-width:500px; 
        max-width: 100%; 

        
  

        
    }
    .parentDetails{
   
        margin-left: -40px;
    }
    .contactDetails{
        padding: 20px 40px; 
    }
    .contactForm {
 
        top: 800%;
        padding: 10px;
        max-width: 100%; 
    }
    .contactForm  .formGroup input {
     
        min-width: 80%;
    }
}
@media (max-width: 768px) {
    .videoContainer {
        padding-top: 5%;
    }
    
    .title {
        top: 25%;
        font-size: 14px;
    }
    
    .frameImage {
        top: 290%;
        left: 50%;
        transform: translateX(-50%);
        max-width: 90%; 
    }

   
    .parentDetails {
        width: 90%;
        margin-left: -30px; 
    }


    
    .contactDetails{

         padding: 20px ; 
        
    }
   
    .contactForm {
        top: 750%;
        padding: 20px;
       
        max-width: 90%; 
        margin: 0 auto; 
    }
}
 
@media (max-width: 650px) {
    .videoContainer {
        padding-top: 10%; 
    }

    .title {
        top: 25%;
        width: 80%; 
        font-size: 14px;
    }

    .titleText {
        font-size: 22px; 
        font-weight: bold;
        margin: 5px 0 0;
    }

    .subtitle {
        font-size: 16px; 
    }

    .frameImage {
        top: 250%; 
        left: 50%;
        transform: translateX(-50%);
        max-width: 80%; 
    }

    .contactForm {
        top: 1500%; 
        padding: 15px; 
        max-width: 90%; 
        margin: 0 auto; 
    }

    .inputField, .textareaField {
        font-size: 14px; 
    }

    .parentDetails {
        margin-left: 0px; 
    }
    .one{
        margin: 35px;
    }

    .contactDetails {
        margin-top: 30px;
    
        padding: 20px; 
    }
}
@media (max-width: 399px) {
    .contactForm{
        top: 1200%;

    }
    .parentDetails{
        flex-direction: column;
        gap:10px;
        margin-left: 10px;
    }
    .two{
        margin: 35px;
    }
}